@import "~antd/dist/antd.css";

.menu {
  padding: 0px 19px;
  box-shadow: 1 0 28px #dbd6d6;
  background-color: #fff;
  width: 100vw;
 display: flex;
 justify-content:center;
 align-items: center;
 height: 58px;
}

 .Navbar {
    width: 100%;
} 

.rightMenu {
  margin-left: auto;
}