#root {
    width: 100vw; 
    height: 100vh;
    
}

.appLayout {
    width: 100vw; 
    height: 100vh;
    background-color: #d9d9d9;
 }
 
 .menu {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 6%;
    
   
}
.content {
    background-color: #d9d9d9;

}
.pageprops {
    position: relative;
    top: 60px;
    height: 93%;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    background-color: #d9d9d9;

}

.pageWidth {
    width: 80vw;
}

.chat {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.messages {
    overflow: auto;
    height: 70%;
}

.editor {
    width: 100%;

}
.p-20 {
    padding-left: 30px;
    padding-right: 30px;
}

.categories {
    width: 50%;
}

.settingsTabContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.border {
    border-radius: 20px;
    background-color: white;
}

.settingsCard {
    height: 500px;
}